<article>
  <header>Contact Details</header>

  <form [formGroup]="dynamicFormGroup" (ngSubmit)="onSubmit()">
    <!-- Show each field defined in the schema. -->
    <div *ngFor="let fieldinfo of schema">
      <label [for]="fieldinfo.fieldName">
        {{ fieldinfo.fieldLabel }}

        <!-- Add a marker for mandatory fields. -->
        <span class="mandatory-marker" *ngIf="fieldinfo.mandatory">
          *
        </span>
      </label>

      <!-- Generate the appropriate type of input control. -->
      <input
        [type]="fieldinfo.fieldType"
        [name]="fieldinfo.fieldName"
        [id]="fieldinfo.fieldName"
        [formControlName]="fieldinfo.fieldName"
      />

      <!--
        If the user has touched the control and it's invalid,
        show the necessary error message.
      -->
      <div
        class="error-message"
        *ngIf="
          controls[fieldinfo.fieldName].touched &&
          controls[fieldinfo.fieldName].invalid
        "
      >
        <span
          *ngIf="controls[fieldinfo.fieldName].hasError('required')"
        >
          {{ fieldinfo.fieldLabel }} is required.
        </span>

        <span
          *ngIf="controls[fieldinfo.fieldName].hasError('minlength')"
        >
          {{ fieldinfo.fieldLabel }} must be at least
          {{
            controls[fieldinfo.fieldName].errors?.['minlength']
              .requiredLength
          }}
          characters long.
        </span>

        <span
          *ngIf="controls[fieldinfo.fieldName].hasError('maxlength')"
        >
          {{ fieldinfo.fieldLabel }} cannot be more than
          {{
            controls[fieldinfo.fieldName].errors?.['maxlength']
              .requiredLength
          }}
          characters long.
        </span>

        <span
          *ngIf="controls[fieldinfo.fieldName].hasError('pattern')"
        >
          {{ fieldinfo.fieldLabel }} is incorrect.
        </span>
        <!-- end error messages -->
      </div>
    </div>

    <button [disabled]="!dynamicFormGroup.valid">Submit</button>
  </form>
</article>

<article>
  <header>Form Data</header>

  Form Value Object:
  <pre>{{ dynamicFormGroup.value | json }}</pre>

  Form Validity:
  <div>{{ dynamicFormGroup.valid }}</div>

  <button (click)="logTheForm()">Log Form Object</button>
</article>
